.container {
    margin: 15px 0;
    .title {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 400;
        }
    }
    .content {
        margin-top: 10px;
    }
}