@import './colors.scss';

.container {
    margin: 35px 0;
    margin-bottom: 30px;
    border: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border-secondary; 
    
    .title {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 400;
        }
    }
    .content {
        margin-top: 10px;
    }

}

